[AchievementManager]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Achievements]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[AdTracking]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Adventures]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[All]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Arena]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Asset]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[AsyncLoading]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[BIReport]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[BattleNet]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Box]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[BreakingNews]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[BugReporter]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[CRM]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[CardbackMgr]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[ChangedCards]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[ClientRequestManager]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[CloudStorage]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[CoinManager]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[CollectionDeckBox]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[CollectionManager]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[ConfigFile]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[ContentConnect]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Crafting]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Dbf]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[DeckHelper]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[DeckRuleset]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[DeckTray]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Decks]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[DeepLink]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[DelayedReporter]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[DeviceEmulation]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Downloader]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[EndOfGame]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[ErrorReporter]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[EventTable]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[EventTiming]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[ExceptionReporter]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[FaceDownCard]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[FiresideGatherings]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[FlowPerformance]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Font]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[FullScreenFX]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[GameMgr]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Gameplay]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Graphics]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Hand]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[HealthyGaming]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[InGameBrowser]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[InGameMessage]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[InnKeepersSpecial]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Jobs]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Lettuce]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[LoadingFile]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[LoadingScreen]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Login]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[MinSpecManager]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[MissingAssets]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[MobileCallback]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[MulliganManager]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[NarrativeManager]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Net]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Notifications]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Offline]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Options]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[PVPDR]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Packet]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Party]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Performance]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[PlayErrors]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[PlayModeInvestigation]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Power]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Presence]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Privacy]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[RAF]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Replay]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Reset]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[ReturningPlayer]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[RewardBox]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Services]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[SmartDiscover]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Sound]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Spectator]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Spells]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Store]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Tag]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[TavernBrawl]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Telemetry]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[TemporaryAccount]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[UIFramework]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[UIStatus]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[UberText]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[UserAttention]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[W8Touch]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Zone]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Ben]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Bob]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Brian]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Cameron]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Derek]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Jay]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Kyle]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Mike]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Packets]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
[Rachelle]
LogLevel=2
FilePrinting=True
ConsolePrinting=False
ScreenPrinting=False
Verbose=True
